{% extends 'commons/base.html.twig' %}
    {% block body %}
        <main class="courseMain">
            <meta name="keywords" content="golf, professeur, cours, coach, gilles, arnaud, bordeaux, médoc, gironde, sport"/>
            {% include 'commons/_headerLittle.html.twig' %}
            <meta name="keywords" content="golf, professeur, cours, coach, gilles, arnaud, bordeaux, médoc, gironde, sport"/>
            <h1 class="courseTitle"> LES COURS</h1>
            <div class="">
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <a class="button" href="{{ path('course_insert') }}">Créer un cours</a>
                {% endif %}
            </div>
            <section class="courseDisplay">
                {% for course in courses %}
                    <div class="courseContainer">
                        <a href="{{ path('course_show',{'id':course.id}) }}">
                            <div class="courseHoverContainer courseHoverContainerResponsive">
                                <img class="coursePhoto" src="{{ asset('upload_directory/' ~ course.photo) }}" alt="{{ course.alt }}" name="{{ course.alt }}">
                                <div class="courseHover courseHoverResponsive">
                                    <p class="courseTitleSmall">{{ course.name }}
    {#                                    <a href="{{ path('courseShow', {'id': course.id}) }}"></a>#}
                                    </p>
                                </div>
                                <p class="responsive courseNameResponsive">{{ course.name }}</p>
                            </div>
                        </a>
                        <div>
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <a class="button buttonDelete" href="{{ path('course_delete',{'id':course.id}) }}">supprimer</a>
                                <a class="button" href="{{ path('course_update',{'id':course.id}) }}">modifier</a>
                            {% endif %}
                        </div>
                        <div class="buttonCenter">
                            <div class="courseShowButton">
                                <a class="button" href="{{ path('calendar_new',{'id':course.name}) }}">Réserver</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>
            <a class="button buttonLeft buttonResponsive" href="{{ path('home') }}">Retour à l'accueil</a>
        </main>
    {% endblock %}