{% extends 'commons/base.html.twig' %}
    {% block body %}
        {% include 'commons/_headerLittle.html.twig' %}
        <main class="courseMain">
            <div class="courseShowDisplay">
                {% for reservation in reservation %}
                <div class="courseShowContainer">
                    <h1>{{ reservation.dateCourse }}</h1>
                    <p class="courseShowP">
                        Cours réservé le {{ reservation.dateCourse }} à {{ reservation.hourStart }} heures
                    </p>
                    <p class="courseShowP">
                        {#
                                            {% elseif is_granted("ROLE_SUPER_ADMIN") %}
                                                golfeur : {{ }}€
                                                Date de réservation: {{  }}
                                                {% if reservation. > 0 %}
                                                    ou {{ course.name }}
                                                {% endif %}
                                            {% else %}
                                                golfeur: {{ user.name }}
                                                {% if reservation.course > 0 %}
                                                {% endif %}
                                            {% endif %}
                        #}
                    </p>

                    <p class="courseShowP">
                        Acheté le {{ reservation.datePurchase }} au prix de {{ reservation.price }} €
                    </p>
                    {% endfor %}
                    <div class="courseShowButton">
                        <a class="button" href="{{ path('reservation') }}">Réserver</a>
                    </div>
                    <a class="button buttonLeft" href="{{ path('home') }}">Retour à l'accueil</a>
                </div>
            </div>
        </main>
    {% endblock %}