<h1>nouveau contact</h1>
<div class="formulaireRegister" style="color:palegoldenrod;">
    <div class="registerLine">
        {{ contact.firstName }}   {{ contact.lastName }}
    </div>
    <div class="registerLine">
        Numéro :{{ contact.phone }}
    </div>
    <div class="registerLine">
        Email :{{ contact.email }}
    </div>
    <div class="registerLine Msg">
        {{ contact.message|raw }}
    </div>
</div>