<h1>Nouveau mail ou contact</h1>
<div class="formulaireRegister" style="color:#803e8c; line-height: 30px; font-size: 20px">
    <div class="registerLineContact">
        {{ contact.firstName }}   {{ contact.lastName }}
    </div>
    <div class="registerLineContact">
        Numéro :{{ contact.phone }}
    </div>
    <div class="registerLineContact">
        Email :{{ contact.email }}
    </div>
    <div class="registerLineContact">
        {{ contact.message|raw }}
    </div>
</div>