<header class="head">
    <div class="filtreHeader">
        <div class="logo">
            <a href="{{ path('home') }}"><img class="logoChild" src="{{ asset("img/logo1.jpg") }}" alt="golf gilles arnaud professeur enseignement"/></a>
        </div>
        <nav class="items">
            <ul class="navContainer">
                <li class="nav"><a href="{{ path('course') }}"><i class="fas fa-golf-ball"></i> Cours</a></li>
                <li class="nav"><a href="{{ path('cal_home') }}"><i class="fas fa-golf-ball"></i> Planning</a></li>
                <li class="nav"><a href="{{ path('media') }}"><i class="fas fa-golf-ball"></i> Tutos</a></li>
                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Actualité</a></li>
{#                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Gallerie</a></li>#}
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <li class="nav"><a href="{{ path('admin_user') }}"><i class="fas fa-golf-ball"></i>Golfeurs</a></li>
                {% endif %}
                <li class="nav"><a href="{{ path('app_register') }}"><i class="fas fa-golf-ball"></i> Compte</a></li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="nav"><a href="{{ path('app_logout') }}"><i class="fas fa-golf-ball"></i> Deconnexion</a></li>
                {% else %}
                    <li class="nav"><a href="{{ path('app_login') }}"><i class="fas fa-golf-ball"></i> Connexion</a></li>
                {% endif %}

                <li class="nav"><a href="{{ path('contact') }}"><i class="fas fa-golf-ball"></i> Contact</a></li>
                {% if is_granted("ROLE_CE") %}
                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> CE</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="titleHeader">
            {% for message in app.flashes('message') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <div><h1>Gilles ARNAUD enseignement</h1> </div>
            <div><h2>Professeur de golf indépendant</h2> </div>
        </div>
        <div class="headerBottom">
            <p class="headerBottomP">je suis votre Coach</p>
        </div>
    </div>

    <div class="responsive filtreHeaderResponsive">
        <input type="checkbox" id="menu-toggle"/>
        <label id="trigger" for="menu-toggle"></label>
        <label id="burger" for="menu-toggle"></label>
        <ul id="menu">
            <li  class=""><a class="" href="{{ path('course') }}"><i class="fas fa-golf-ball"></i> Cours</a></li>
            <li  class=""><a class="" href="{{ path('cal_home') }}"><i class="fas fa-golf-ball"></i> Planning</a></li>
            <li  class=""><a class="" href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Tutos</a></li>
            <li class=""><a class="" href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Actualité</a></li>
{#            <li  class=""><a class="" href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Gallerie</a></li>#}
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li class=""><a class="" href="{{ path('admin_user') }}"><i class="fas fa-golf-ball"></i>Golfeurs</a></li>
            {% endif %}
            <li  class=""><a class="" href="{{ path('app_register') }}"><i class="fas fa-golf-ball"></i> Compte</a></li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li  class=""><a class="" href="{{ path('app_logout') }}"><i class="fas fa-golf-ball"></i> Deconnexion</a></li>
            {% else %}
                <li  class=""><a class="" href="{{ path('app_login') }}"><i class="fas fa-golf-ball"></i> Connexion</a></li>
            {% endif %}
            <li  class=""><a class="" href="{{ path('contact') }}"><i class="fas fa-golf-ball"></i> Contact</a></li>
            {% if is_granted("ROLE_CE") %}
            <li  class=""><a class="" href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> CE</a></li>
            {% endif %}
        </ul>
        <div class="responsive titleHeader">
            <div><h1>Gilles ARNAUD enseignement</h1> </div>
            {% for message in app.flashes('message') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <div><h2>Professeur de golf indépendant</h2> </div>
        </div>
        <div class="responsive headerBottom">
            <p class="responsive headerBottomP">je suis votre Coach</p>
        </div>
    </div>
</header>