{% extends 'commons/base.html.twig' %}
    {% block body %}
        <meta name="keywords" content="golf, professeur, cours, coach, gilles, arnaud, bordeaux, médoc, gironde, sport"/>
        {% include 'commons/_headerLittle.html.twig' %}
        <main class="ticketMain">
            <h1>Vous souhaitez me contacter...</h1>
            <div class="contact" style="color:white;">
                    {{ form_start(contactForm) }}
                    <div class="registerLine">
                        {{ form_label(contactForm.lastName) }}
                        {{ form_widget(contactForm.lastName) }}
                        {{ form_label(contactForm.firstName) }}
                        {{ form_widget(contactForm.firstName) }}
                    </div>
                    <div class="registerLine">
                        {{ form_label(contactForm.phone) }}
                        {{ form_widget(contactForm.phone) }}
                        {{ form_label(contactForm.email) }}
                        {{ form_widget(contactForm.email) }}
                    </div>
                    <div class="contactMessage">
                        {{ form_label(contactForm.message) }}
                        {{ form_widget(contactForm.message) }}
                    </div>
                        <div class="buttonCenter">
                        {{ form_end(contactForm) }}
                        </div>

                    <a class="button registerButtonRight registerButtonResponsive" href="{{ path('home') }}">Retour accueil</a>
                </div>
        </main>
    {% endblock %}