{% extends 'commons/base.html.twig' %}
    {% block body %}
        <main class="courseMain">
            <meta name="keywords" content="golf, professeur, cours, coach, gilles, arnaud, bordeaux, médoc, gironde, sport"/>
            {% include 'commons/_headerLittle.html.twig' %}
            <h1 class="userTitle"> LES GOLFEURS</h1>
            <section class="userDisplay">
                {% for user in user %}
                    <div class="userContainer">
                        <a class="" href="{{ path('user_show',{'id':user.id}) }}">
                            <div>{{ user.firstName }} {{ user.lastName }}</div>
                         {#   <P> {{ user.roles['0'] }}</P> #}
                            <div>Index : {{ user.level }}</div>
                            {% if user.creditDuration > 0 %}
                                <div> Solde de tickets non utilisés à ce jour {{ user.creditDuration }}</div>
                            {% endif %}
                            <br>
                            <div class="userButtonCenter">
                                <a class="userButton ButtonDelete" href="{{ path('user_delete',{'id':user.id}) }}">supprimer</a>
                                <a class="userButtonUpdate" href="{{ path('user_update',{'id':user.id}) }}">modifier</a>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </section>
        </main>
    {% endblock %}