{% extends 'commons/base.html.twig' %}
    {% block body %}
        {% include 'commons/_headerLittle.html.twig' %}
        <main class="headUser">
            <section class="userShowDisplay filtreHeader">
                <p class="textOnB">email</p>
                <input type="email" placeholder="toto@exemple.com" class="userBox">
                <br>
                <p class="textOnB">mot de passe</p>
                <input type="password" placeholder="Votre mot de passe" class="userBox">

                <div> {{ form_label(courseForm.submit) }}
                    {{ form_widget(courseForm.submit, {'attr': {'class':'inputSubmit'}}) }}</div>

                <div class="userShowButton">
                    <a class="button" href="{{ path('user_create') }}">Pas encore de compte</a>
                </div>
            </section>
            <section>
                {#    <a class="userButton" href="{{ path('user_show',{'id':user.id}) }}">modifier</a>

                {#   <a class="button buttonConnect" href="{{ path('home') }}">Se connecter</a>
                      <input type="submit" name="Se connecter"  href="{{ path('home') }}" class="buttonConnect">#}
                <a class="button buttonLeft" href="{{ path('course') }}">Les cours</a>
            </section>
        </main>
    {% endblock %}