{% extends 'commons/base.html.twig' %}
    {% block body %}
        <meta name="keywords" content="golf, professeur, cours, coach, gilles, arnaud, bordeaux, médoc, gironde, sport"/>
        {% include 'commons/_headerLittle.html.twig' %}
        <main class="headUser">
            <section class="userShowDisplay filtreHeader">
                <div class="userShowContainerhowContainer">
                    <h1>{{ user.lastName }}</h1>
                    <p class="userShowP">
                        {{ user.firstName }}
                    </p>
                    <p class="userShowP">Level :
                        {{ user.level }}</p>
                    <p class="userShowP">Date de naissance :
                        {{ user.dateBirth }}</p>
                </div>
            </section>
            <section>

                {#     <a class="userButtonUpdate" href="{{ path('user_show',{'id':user.id}) }}">modifier</a>

                {#   <a class="button buttonConnect" href="{{ path('home') }}">Se connecter</a>
                      <input type="submit" name="Se connecter"  href="{{ path('home') }}" class="buttonConnect">#}
                <a class="button buttonLeft" href="{{ path('course') }}">Les cours</a>
            </section>
        </main>
    {% endblock %}